<div class="header">
  <h1>Watchlist</h1>
</div>
<div class="second-section">
  <div class="title">
    <h1>My category</h1>
  </div>
  <div class="lists-container">
    <% @lists.each do |list| %>
      <div class="list-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, width: 400, crop: :fill %>')">
        <%= link_to list.name, list_path(list), class:"category-link"  %>
      </div>
    <% end %>
  </div>
  <%= link_to 'Add a new list', new_list_path, class:"btn btn-primary add-btn" %>
</div>
<br>
