// Place all the styles related to the bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.show-title {
  background-color: aqua;
}

.show-btn-list {
  background-color: red;
}

.show-bookmark-card {
  background-color: green;
}
